<h1>Add New Recipe</h1>

<%= form_for @recipe do |recipe| %>
<%= recipe.label :name %>
<%= recipe.text_field :name %>
<br>
<%= recipe.label :user %>
<%= recipe.text_field :user %>
<br>
<%= recipe.submit "Add New Recipe" %>
<% end %>